@import 'stylesheets/back4app.scss';

.button {
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  border: 0;
  outline: 0 !important;
  cursor: pointer;

  font-family: 'Raleway';
  font-weight: 700;

  padding: 0 16px 0 16px;
  margin: 0 10px 0 10px;

  border-radius: 3px;
  height: 35px;

  word-spacing: 1px;

  text-decoration: none !important;

  &.color-green {
    background-color: $green;
    color: #FFF;
  }

  &.color-transparent {
    background: transparent;
    color: $dark-gray;
  }

  &.weight-100 {
    font-weight: 100;
  }
  &.weight-300 {
    font-weight: 300;
  }
  &.weight-400 {
    font-weight: 400;
  }
  &.weight-700 {
    font-weight: 700;
  }
}
