.loaderContainer {
	position: relative;
	.loaderParent {
		visibility: hidden;
		background: rgba(255, 255, 255, 0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&.visible {
			visibility: visible;
		}
		&.solid {
			background: white;
		}
	}
}
