.indexManager {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    background-color: #353445;

    .headerDescriptionContainer {
      display: flex;
      align-items: center;

      a {
        display: flex;
        margin-right: 10px;
      }

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .subtitle {
          font-size: 10px;
          color: rgba(255, 255, 255, .5);
        }

        .title {
          font-size: 16px;
          color: #F4F5F7;
        }
      }
    }

    .toolbar {
      display: flex;
      align-items: center;

      a {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      svg {
        vertical-align: middle;
        fill: white;
      }
    }
  }

  .indexTableContainer {
    overflow: auto;

    .indexTable {
      width: 100%;
      table-layout: fixed;

      thead {
        font-size: 12px;
        color: white;
        background-color: #66637A;

        tr {
          height: 30px;
        }

        th {
          font-weight: 400;
          width: 70px;

          &:first-of-type {
            width: 50px;
            padding-left: 10px;

            &.readOnly {
              width: 70px;
            }
          }

          &:nth-child(2) {
            width: 200px;
          }

          &:nth-child(3), &:nth-child(4) {
            width: 100px;
          }

          &:nth-child(5) {
            width: 280px;
          }
        }
      }

      tbody {
        font-size: 14px;

        tr {
          height: 50px;

          &:nth-child(even) {
            background-color: #F4F5F7;
            border-top: 1px solid #DFDFDF;
          }

          .selectedContainer {
            text-align: center;
          }

          .indexStatus-success {
            color: #4CAF50;
          }

          .indexStatus-pending {
            color: #FFC107;
          }

          .indexStatus-error {
            color: #D0021B;
          }

          .statusIcon {
            padding-right: 8px;
            font-size: 18px;
          }

          td {
            word-break: break-word;

            &.readOnly {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
