@import 'stylesheets/back4app.scss';

.loading {
  position: relative;
  min-height: $content-max-height;
}

.app-templates {
  background-color: #f9f9f9;
  min-height: $content-max-height;
  padding-top: 70px;
  overflow: hidden;
}
