@import 'stylesheets/back4app.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(#{$content-max-height} - #{$toolbar-height});
}

.app-templates {
  background-color: #f9f9f9;
  max-height: calc(#{$content-max-height} - #{$toolbar-height});
  margin-top: $toolbar-height;
  overflow: auto;
}
