@import 'stylesheets/back4app.scss';

.header {
  position: fixed;
  display: flex;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: $header-height;
  background-color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
  font-family: 'Raleway';
  font-size: 16px;
  padding-right: 45px;

  .left-side {
    display: flex;
    min-width: 247px;
    max-width: 247px;
    margin-left: 33px;

    .hamburger-wrapper {
      height: 40px;
      margin: auto;
      margin-left: 10px;
      margin-right: 11px;
    }

    .logo-face {
      margin-top: 16px;
    }
    
    .logo-text {
      margin-top: 16px;
    }
  }

  .right-side {
    display: flex;
    width: 100%;
    padding: 24px 0 0 10px;
    white-space: nowrap;
  }
}
