@import 'stylesheets/globals.scss';

.heading {
    font-size: 14px;
    margin-top: 0;
    padding: 8px;
    padding-left: 10px;
    background-color: $blue;
    color: $white;
}

.segmentItems {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e3e3ea;
    gap: 10px;
}

.keyValue {
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.video {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.audio {
    width: 100%;
}

.segmentItems table,
.segmentItems th,
.segmentItems td {
    font-size: 14px;
    border: 1px solid #ddd;
}

.segmentItems th,
.segmentItems td {
    padding: 4px;
    text-align: left;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: $blue;
    padding: 3px 13px;
    border: none;
    color: $white;
    line-height: 28px;
    outline: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    &:hover,
    &:focus {
        background-color: $darkBlue;
    }
}

.loading{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }