@import 'stylesheets/globals.scss';

.headers {
  right: auto;
}

.headerWrap {
  display: inline-block;
  vertical-align: top;
  background: #66637A;
  color: white;
  line-height: 30px;
  padding: 0 16px;
  border-right: 1px solid #e3e3ea;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.handle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  height: 30px;
  cursor: ew-resize;
}

.tableRow {
  @include MonospaceFont;
  font-size: 12px;
  white-space: nowrap;
  height: 30px;
  border-bottom: 1px solid #e3e3ea;
}

.tableRow:nth-child(odd) {
  background: #f4f5f7;
}

.cell {
  line-height: 20px;
  padding: 5px 16px;
  border-right: 1px solid #e3e3ea;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: none;
}

.tableRow td.pillCell {
  line-height: 8px;
}

.clickableText {
  cursor: pointer;
}

