@import 'stylesheets/globals.scss';

.button {
  @include DosisFont;
  display: inline-block;
  height: 20px;
  border: 1px solid;
  line-height: 20px;
  border-radius: 5px;
  min-width: 90px;
  padding: 0 16px;
  font-size: 12px;
  font-weight: bold;
  color: $white;
  background-color: #4caf50;
  border-color: #4caf50!important;

  &:hover, &:focus {
    color: $white;
    background-color: #81c784;
    text-decoration: none;
  }
}

.modal {
  @include modalAnimation();
  position: absolute;
  top: 50%;
  left: 50%;
  width: 540px;
  background: black;
}

@include modalKeyframes();
