@import 'stylesheets/globals.scss';

.configActionIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  svg {
    fill: currentColor;
    color: $darkBlue;
  }
}

