@import 'stylesheets/globals.scss';

.shake {
  @include transform(translateX(0));
  @include animation('shake 0.6s');
}

@include keyframes (shake) {
  0% {
    @include transform(translateX(-5px));
  }
  20% {
    @include transform(translateX(5px));
  }
  40% {
    @include transform(translateX(-5px));
  }
  60% {
    @include transform(translateX(5px));
  }
  80% {
    @include transform(translateX(-5px));
  }
}
