@import 'stylesheets/back4app.scss';

.dropdown {
  display: inline-flex;

  .menu {
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
    border-top: 2px solid $light-blue;

    .icon-caret {
      display: block;
      position: absolute;
      font-size: 22px;
      color: $light-blue;
      margin: 0 auto;
      top: -15px;
      left: 28px;
    }

    .icon-caret {
      
    }
  }

  &:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
  }

}
