// Back4App colors
$light-blue: #208AEC;
$dark-gray: #424242;
$green: #4CAF50;
$lightYellow: #f5e023;
$darkYellow: #f78400;
$light-gray: #dfdfdf;
$iosColor: #000000;
$androidColor: #A4C639;
// Back4App sizes
$header-height: 51px;
$content-max-height: calc(100vh - #{$header-height})
