.resizablePanel{
    position: fixed;
    top: 96px;
    right: 0;
    bottom: 0px;
    :global(.react-resizable-handle) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        cursor: col-resize;
        box-shadow: -3px 0 3px -1px rgba(203, 203, 203, 0.2);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}

.aggregationPanelContainer{
    height: 100%;
    overflow: auto;
    background-color: #fefafb;
}
