@font-face {
    font-family: 'AlrightSans';
    src: url('/fonts/Alright-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AlrightSans';
    src: url('/fonts/Alright-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AlrightSans';
    src: url('/fonts/Alright-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'DIN17SBOP';
  src: url(/fonts/DIN17SBOP.woff) format("woff");
}

@font-face {
  font-family: 'InputMonoNarrow';
  src: url(/fonts/InputMono-Narrow.woff) format("woff");
}
