@import 'stylesheets/globals.scss';

.title {
  font-size: 46px;
  font-weight: 100;
  line-height: 55px;
  white-space: nowrap;
  margin-bottom: 45px;
}

.description {
  @include DIN17Font;
  font-size: 16px;
  letter-spacing: 0.72px;
  line-height: 17px;
  margin-bottom: 12px;
}

.icon {
  width: 170px;
  height: 170px;
  margin: 0 auto 24px auto;
  border-radius: 100%;
  background: #f3f0f2;
  text-align: center;
  padding-top: 45px;
}
