@import 'stylesheets/globals.scss';

.fileSelector, .filePreview {
  width: 100%;
}

@media (min-width: 774px) {
  .fileSelector {
    flex: 0 0 33.33333%;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .filePreview {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .codeContainer {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.codeContainer {
  display: flex;
  flex-wrap: wrap;
}

.files-box{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);

  .files-header {
    height: 50px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    padding: 10px 0 0 0;

    p {
      height: 22px;
      margin: 5px 0 0 0;
      text-align: left;
      padding: 0 20px;
      font-family: Noto Sans;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #224969;
      float:left;
      width: 30%;
      overflow: hidden;
    }

    a {
      font-family: Raleway;
      font-size: 16px;
      padding: 0;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      float: right;
      margin-right: 10px;

      span {
        div {
          i {
            font-weight: bold
          }
        }
      }
    }
  }

  .files-tree {
    height: 367px;
    overflow: overlay;
  }

  .files-text {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
    font-size: 14px;
    height: 367px;
    border-radius: 5px;
    background-color: #0c2337;
    border: none;

    img {
      height: 100%;
      width: 100%;
      background-color: #f9f9f9;
    }
  }
}

