@import 'stylesheets/globals.scss';

.key {
  @include MonospaceFont;
  background: $inputBackgroundColor;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 12px;
  text-align: center;
}