@import 'stylesheets/globals.scss';

.files-box{
  width: 300px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);

  .files-header {
    height: 50px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    padding: 10px 0 0 0;

    p {
      height: 22px;
      margin: 5px 0 0 0;
      font-family: Noto Sans;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #224969;
      float:left;
      width: 70%;
      overflow: hidden;
    }

    a {
      font-family: Raleway;
      font-size: 16px;
      padding: 0;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    //a:before {
    //  content: "+ ";
    //  font-size: 18px;
    //}

  }

  .files-tree {
    height: 367px;
  }

}

