@import 'stylesheets/globals.scss';

.entry {
  display: inline-block;
  height: 14px;
  padding: 0 8px;

  svg {
    fill: #66637A;
  }

  &:hover svg {
    fill: white;
  }
}

.title {
  background: #797691;
  border-radius: 5px 5px 0 0;
  padding: 4px 2px 4px;
  height: 38px;
  width: 38px;

  &:hover {
    background-color: none!important;
  }

  svg {
    fill: white;
  }
}

.entry, .title {
  @include NotoSansFont;
  color: #ffffff;
  cursor: pointer;

  svg {
    vertical-align: middle;
    margin-right: 4px;
  }

  span {
    vertical-align: middle;
    line-height: 14px;
  }
}

.body {
  color: white;
  position: absolute;
  right: 0;
  border-radius: 5px 0 5px 5px;
  background: #797691;
  width: 220px;
  font-size: 14px;

  .columnConfigContainer {
    max-height: calc(100vh - 180px);
    overflow: auto;
    margin: 10px;
  }
}

.footer {
  background: rgba(0,0,0,0.2);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;

  > a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.toolbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 38px;
  width: 38px;
  margin: 0px 3px 0px 6px;
  padding: 4px 2px 4px;
  border-radius: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  svg {
    vertical-align: middle;
    fill: white;
  }

  span {
    vertical-align: middle;
    height: 14px;
    line-height: 14px;
  }
}