@import 'stylesheets/globals.scss';

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  text-align: center;
  width: 350px;
}

.form {
  margin-top: 30px;
}

.header {
  height: 50px;
  line-height: 50px;
  border-radius: 5px 5px 0 0;
  color: $blue;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background: white;
  border-bottom: 1px solid #e0e0e1;
}

.footer {
  @include DIN17Font;
  position: relative;
  height: 40px;
  padding: 10px 0;
  width: 100%;
  background: white;
  border-radius: 0 0 5px 5px;
  color: #c1c0c9;
  font-size: 12px;
  text-align: center;

  a {
    color: #c1c0c9;

    &:hover {
      color: $mainTextColor;
    }
  }
}

.submit {
  @include DIN17Font;
  display: block;
  background: $green;
  height: 42px;
  width: 100%;
  font-size: 16px;
  line-height: 42px;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover, &:focus {
    background: $darkGreen;
  }

  &:disabled {
    background: #dadada;
    cursor: default;
  }
}

.oauth {
  @include DIN17Font;
  color: white;
  margin-top: 24px;
  height: 38px;

  > span {
    display: inline-block;
    line-height: 38px;
    margin-right: 22px;
  }
}

.facebook, .github, .google {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: #1d3c4f;
  padding-top: 10px;
  margin-right: 16px;
  transition: background 0.3s cubic-bezier(0.175,0.885,0.32,1.275);

  svg {
    vertical-align: top;
  }

  &:last-child {
    margin-right: 0;
  }
}

.facebook:hover {
  background: #3b5998;
}

.github:hover {
  background: #667f8f;
}

.google:hover {
  background: #dc4937;
}

.swap {
  @include DIN17Font;
  display: block;
  width: 310px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin: 70px auto 40px auto;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
