name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
jobs:
  check-changelog:
    name: Changelog
    timeout-minutes: 5
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: dangoslen/changelog-enforcer@v2
  build:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.14'
    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
            ${{ runner.os }}-node-
    - run: npm ci
    - run: ./scripts/before_script.sh
      env:
        CI: true
